footer{
    background-color: #333;

    .footer__wr{
        padding: 6rem 0;

        @include responsive('phone'){
            padding: 3rem 0;
        }
        .footer-logo{
            text-align: center;
            margin-bottom: 2rem;

            img{
                width: 20rem;
            }

            &__text{
                text-align: center;
            }
        }

        .footer__content{
            .footer__nav{
                @include responsive('tablet'){
                   text-align: center;
                }
                ul{
                    display: inline-block;
                    padding-top: 12px;
                    border-top: 1px solid white;
                    @include responsive('tablet'){
                        border-top: none;
                    }

                    li{
                        padding-right: 2rem;
                        display: inline-block;
                        @include responsive('phone'){
                            padding-right: 8px;
                        }

                        &:last-child{
                            padding: 0;
                        }

                        a{
                            color: white;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .footer__copyright{
                padding-top: 12px;
                border-top: 1px solid white;
                color: white;

                @include responsive('tablet'){
                    border-top: none;
                    text-align: center;
                }
            }
        }
    }
}