footer{
    background-color: #333;

    .footer__wr{
        padding: 6rem 0;
        .footer-logo{
            text-align: center;
            margin-bottom: 8rem;

            img{
                width: 20rem;
            }

            &__text{
                text-align: center;
            }
        }

        .footer__content{
            .footer__nav{
                
                ul{
                    display: inline-block;
                    padding-top: 12px;
                    border-top: 1px solid white;

                    li{
                        padding-right: 2rem;
                        display: inline-block;

                        &:last-child{
                            padding: 0;
                        }

                        a{
                            color: white;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .footer__copyright{
                padding-top: 12px;
                border-top: 1px solid white;
                color: white;
            }
        }
    }
}