header{
    //tablet-phone
    @include responsive('tablet'){
        clip-path: ellipse(100% 80% at 50% 16%);
    }
    @include responsive('phone'){
        clip-path: ellipse(138% 80% at 50% 16%);
    }

    //PC
    background: {
        image: linear-gradient(to bottom right , rgba($primary-color-light, .6), rgba($primary-color-dark, .6)),
            url("../imgs/background1.jpg");
        size: cover;
        position: top;
    };
    height: 100vh;
    clip-path: ellipse(80% 67% at 50% 16%);
    position: relative;   
    
    .logo-box{
        position: absolute;
        top: 16px;
        left: 16px;

        img{
            height: 70px;
        }
    }
    
    .headText-box{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
