
.headText{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    &__main{
        font: {
            size: 6.2rem;
            weight: 400;
        }
        display: block;
        letter-spacing: 4px;
        animation: toRight 1s ease;
    }

    &__sub{
        font: {
            size: 2rem;
            weight: 700;
        }
        display: block;
        letter-spacing: 13px;
        animation: toLeft 1s ease;
    }
}

.container{
    &__heading h3{
        text-align: center;
        font-size: 3.2rem;
        margin-bottom: 28px;
        text-transform: uppercase;
        letter-spacing: 4px;
        background: linear-gradient(to right, #fff, $primary-color-dark);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}