.nav{
    &__checkbox{
        display: none;
        &:checked{
            ~ .nav__btn{
                .nav__icon{
                    background-color: transparent;
                    &::before{
                        top: 0;
                        transform: translate(-50%, 0) rotate(45deg);
                    }

                    &::after{
                        top: 0;
                        transform: translate(-50%, 0) rotate(-45deg);
                    }
                }
            }

            ~ .nav__bg{
                transform: scale(80);
            }

            ~ .nav__content{
                opacity: 1;
                width: 100%;
            }
        }
    }


    &__btn{
        position: fixed;
        z-index: 999;
        top: 2.4rem;
        right: 4rem;
        background-color: white;
        padding: 28px;
        display: inline-block;
        border-radius: 50rem;
        font-size: 3rem;
        cursor: pointer;
        transition: .2s ease;
        box-shadow: 0 0 5px #ccc;

        .nav__icon{
            &, &::after, &::before{
                height: 4px;
                background-color: #888;
                width: 24px;
                display: inline-block;
                position: absolute;
                border-radius: 10rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .2s ease;
            }

            &::after, &::before{
                content: "";
            }

            &::after{
                top: 200%;
            }

            &::before{
                top: -100%;
            }

        }
    }

    &__bg{
        z-index: 997;
        position: fixed;
        top: 2.6rem;
        right: 4.2rem;
        padding: 26px;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        transition: .6s ease;
        background-image: linear-gradient(to top, $primary-color-light, $primary-color-dark);
    }

    &__content{
        z-index: 998;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s ease;
        opacity: 0;
        width: 0;
        ul{
            text-align: center;
            li{
                padding: 8px 0;
                a{
                    color: white;
                    font-size: 24px;
                    padding: 12px 28px;
                    display: inline-block;
                    border-radius: 5rem;
                    transition: .4s ease;
                    position: relative;
                    overflow: hidden;
                    
                    &::after{
                        content: "";
                        background-color: white;
                        position: absolute;
                        top: 0;
                        right: -100%;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        transition: .2s ease;
                        border-radius: 5rem;
                    }

                    &:hover{
                        color: $primary-color;
                        transform: translateX(8px);

                        &::after{
                            right: 0;
                        }

                    }
                }
            }
        }
    }

}